.admin-dashboard {
  display: flex;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #000000;
}

/* Sidebar Styling */
.admin-sidebar {
  width: 15%;
  background: linear-gradient(135deg, #18191a, #0f4c75);
  padding: 10px;
  border-right: 1px solid #E0E0E0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.admin-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.admin-nav li {
  margin-bottom: 15px;
}

.admin-nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px;
  
  display: block;
  border-radius: 5px;
  width: 85%;
}

.admin-nav a.active,
.admin-nav a:hover {
  background: linear-gradient(135deg, #6dd5fa, #2980b9);
  transform: translateX(5px);
}

/* Content Area */
.admin-content {
  padding: 0px;
  padding-left: 0px;
  width: 100%;
  flex: 1;
background-color: rgb(245, 245, 245);  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* Header with Profile Picture */
.admin-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(34deg, #18191a, #0f4c75);
  color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  margin-bottom: 0px;
}

/* Adjusted Responsive Font Sizes */
@media (max-width: 768px) {
  .admin-sidebar {
    width: 15%;
    height: auto;
    position: relative;
  }
  .admin-content {
    margin-left: 0;
    width: 100%;
  }
  .admin-header h1 {
    font-size: 1.4rem;
  }
  .dashboard-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1200px) {
  .admin-sidebar {
    width: 15%;
  }
  .admin-content {
    margin-left: 15%;
  }
}
