.manage-dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.back-arrow {
  display: inline-block;
  background: none;
  border: none;
  color: #007bff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  text-decoration: none;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}

.location-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.location-card {
  background:linear-gradient(34deg, #18191a, #105485);
  padding: 30px;
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.location-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.location-name {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.employee-table {
  overflow-x: auto;
  margin-top: 20px;
}

.table-title {
  font-size: 24px;
  font-weight: bold;
  color: #444;
  margin-bottom: 15px;
  text-align: center;
}

.employee-table table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.employee-table th, .employee-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
  color: #555;
}

.employee-table th {
  background-color: #f8f9fa;
  font-weight: bold;
  color: #666;
}

.employee-table td {
  background-color: #fff;
}

.employee-name {
  color: #6c63ff;
  font-weight: bold;
  text-decoration: none;
}

.employee-name:hover {
  text-decoration: underline;
}

.green-text {
  color: #28a745;
  font-weight: bold;
}

.red-text {
  color: #dc3545;
  font-weight: bold;
}

.rank-arrow {
  color: #28a745;
  font-weight: bold;
  margin-left: 4px;
}

table td, table th {
  white-space: nowrap;
}
